body
{
	/*background-color: #e7fbff;*/
	background-color: #171717;
	background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
	background-position: center; /* Centra la imagen en el contenedor */
	background-repeat: no-repeat; /* Evita que la imagen se repita */
}

#swap-box
{
	width: 340px;
	height: 500px;
	background-color: white;
	margin: auto;
	border-radius: 24px;
	border: 1px solid #e7e3eb;
	box-shadow: 4px 2px 2px grey;

	font-weight: bolder;
	font-size: 20px;
	color: #280d5f;

	margin-top: 60px;
	clear: both;
}

#swap-menu
{
	width: 100%;
	height: 52px;
	border-top-right-radius:24px;
	border-top-left-radius:24px;
	background-color: #eeeaf4;
	padding-top: 16px;
	text-align: center;
}

.swap-button
{
	width: 168px;
	height: 52px;
	border-top-right-radius:24px;
	border-top-left-radius:24px;
	background-color: #eeeaf4;
 	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	text-align: center;
	cursor: pointer;
	color: #7a6eaa;
}

.swap-button-active
{
	background-color: white;
	color: #280d5f;
}

#swap-title-box
{
	height: 60px;
	border-bottom: solid 1px #eeeaf4;
}

#swap-title
{
	text-align: center;
	margin-bottom: -5px;
	margin-top: 20px;
	font-weight: bolder;
}

#swap-subtitle
{
	font-size: 12px;
	text-align: center;
	color: #7a6eb2;
	font-weight: bold;
}

#swap-form-box
{
	width: calc(100% - 1px);
	height: 288px;
	border: 1px solid #eeeaf4;
}

#form
{
	display: flex;
	flex-direction: column;
	padding: 20px;
}
form
{
	display: flex;
	flex-direction: column;
	padding: 20px;
}
#alineadoTextoImagenCentro
{
  vertical-align: middle;
  height:28px;
  width:28px;
  float: left;
}
.swap-balance
{
	float: right;
	color: #877cad;
	font-size: 12px;
	padding-top: 4px;
}
input, #swap-submit
{
	width: 288px;
	height: 60px;
	border-radius: 24px;
	background-color: #eeeaf4;
	border-color: transparent;
	box-shadow: 1px 2px 2px grey;
	text-align: right;
	font-size: 20px;
	padding-right: 12px;
}

#swap-arrow
{
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 132px;
	padding-right: 132px;
	text-align: center;
}
#swap-up-down:before
{
	background-color: #eeeaf4;
	display: inline;
	padding: 4px;
	border-radius: 50%;
	color:#1fc7d4;
	content:"🡣";
	cursor: pointer;
}
#swap-up-down:hover:before
{
	background-color: #1fc7d4;
	color:white;
	content:"⮁";
}
.hidden
{
	display: none;
}

.separador-vertical
{
	width: 100%;
	height: 28px;
}
#swap-price-word
{
	color: #9a41ce;
	font-size: 12px;
	font-weight: bolder;
	padding-top: 8px;
}
#swap-price
{
	float: right;
	color: #282464;
	font-size: 12px;
}

#swap-submit
{
	height: 52px;
	text-align: center;
	font-weight: bold;
	margin-top: 28px;
	background-color: #1fc7d4;
	color: white;
	cursor: pointer;
}

#swap-submit:hover
{
	background-color: #2fecfb;
}

button {
	height: 40px;
	width: 104px;
    text-align: center;
    font-weight: bold;
    margin-top: 28px;
    background-color: #1fc7d4;
    color: white;
    cursor: pointer;
	border-radius: 24px;
	float: right;
	clear: both;
}

.token {
	padding-left: 8px;
}



/*Agregado para el toast*/
#toast {
	visibility: hidden;
	max-width: 200px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	padding: 16px;
	position: fixed;
	z-index: 10000;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);
  }
  
  #toast.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }




  /*Esto para el spinner*/
  .spinner-container {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 9999;
  }
  
  .spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 40px;
	border: 4px solid #ccc;
	border-top-color: #333;
	border-radius: 50%;
	animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
	0% {
	  transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
	  transform: translate(-50%, -50%) rotate(360deg);
	}
  }